<div>
  <md-content layout-padding layout-margin>Add a new Category</md-content>
  <md-container layout-padding layout-margin layout="row">
    <md-container>
      <md-input-container>
        <label>Category</label>
        <input ng-model="ctrl.newCategory.categoryId" type="text">
      </md-input-container>
    </md-container>
    <md-container>
      <md-input-container>
        <label>Sub-Category</label>
        <input ng-model="ctrl.newCategory.category" type="text">
      </md-input-container>
    </md-container>
    <md-container layout-padding layout-margin>
      <h1>{{ctrl.categories.length}} pairs</h1>
    </md-container>
  </md-container>
  <md-container layout="row">
    <md-button class="md-raised md-primary md-button" ng-click="ctrl.addNew()" ng-disabled="(ctrl.countCategories === 10)">
      Add category
    </md-button>
    <md-container ng-hide="!(ctrl.countCategories >= 10)" layout="row">
      <md-input-container>
        <label>Find oldest parent</label>
        <input ng-model="ctrl.findCategory" type="text">
      </md-input-container>
      <md-button class="md-raised md-primary md-button" ng-click="ctrl.findParent(ctrl.findCategory)">
        Who's oldest?
      </md-button>
      <md-container layout-margin layout-padding>
        {{ctrl.oldest}}
      </md-container>
    </md-container>
  </md-container>

  </md-button>
  <md-content>
    <div class="data">
      <p>ID</p>
      <p>CATEGORY</p>
      <p>CATEGORYID</p>
    </div>
    <div ng-repeat="cat in ctrl.categories" class="data">
      <p>{{cat.id}}</p>
      <p>{{cat.category}}</p>
      <p>{{cat.categoryId}}</p>
    </div>
  </md-content>
</div>